context-monitoring/src/test/resources/config/services-config.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.atb-bremen.de" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="config">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="services">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="service" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="host"/>
                                        <xs:element type="xs:anyURI" name="location"/>
                                        <xs:element type="xs:string" name="name"/>
                                        <xs:element type="xs:string" name="server"/>
                                        <xs:element type="xs:string" name="proxy"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="id" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
